[Unit]
Description=Start light server with interface
After=multi-user.target systemd-user-sessions.service
PartOf=xorg.service

[Service]
User=orangepi
WorkingDirectory=~

#PAMName=login
#Environment=XDG_SESSION_TYPE=x11
#TTYPath=/dev/tty8
#StandardInput=tty
#UnsetEnvironment=TERM

#UtmpIdentifier=tty8
#UtmpMode=user
#StandardOutput=journal
#ExecStartPre=/usr/bin/chvt 8
#ExecStart=/usr/bin/startx -- vt8 -keeptty -verbose 3 -logfile /dev/null
ExecStart=/usr/local/bin/start_flask_server
#Restart=no
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
