[Unit]
Description=Start light server with interface
After=multi-user.target systemd-user-sessions.service
PartOf=xorg.service

[Service]
User=orangepi
WorkingDirectory=~

ExecStart=/usr/local/bin/start_flask_server
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
